@import url('fonts.css');

body, html {
    width: 100%;
    height: 100%;
    font-size: 10px;
}

body {
    background-color: rgb(35, 39, 46);
    color: rgb(215, 218, 224);

    display: flex;
}

details {
    font-family: 'Montserrat';
    font-size: 1.6rem;
}

details > ul {
    margin-left: 2.3rem;
}