::-webkit-scrollbar {
    width: 1.4rem;
    height: 1.4rem;
}

::-webkit-scrollbar-track {
    background-color: rgb(35, 39, 46);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(62, 69, 82);
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}