body, html {
    width: 100%;
    height: 100%;
    font-size: 10px;
}

body {
    background-color: rgb(35, 39, 46);
    color: rgb(215, 218, 224);

    display: flex;
}

#sidebar {
    padding: 20px;
    float: left;
    width: 20%;

    background-color: rgb(44, 49, 60);
}

#sidebar > h1 {
    font-size: 2.4rem;
}

#navigation {
    margin-top: 40px;
}

#navigation * {
    font-family: 'Montserrat';
    font-size: 1.6rem;
}

#navigation details {
    margin-bottom: 20px;
}

#navigation summary {
    margin-bottom: 10px;
    font-weight: 800;
}

#navigation li {
    padding: 4px 10px;
}

.list.odd {
    color: rgb(154, 158, 167);
}

.list.even {
    background-color: rgb(52, 57, 70);
}

.list {
    cursor: pointer;
}

.list:hover {
    background-color: rgb(61, 67, 82);
}

#content {
    padding: 20px;
}

table {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

table, th, td {
    border: 1px solid rgb(30, 31, 34);
    border-collapse: collapse;
}

table * {
    font-family: 'Montserrat';
    font-size: 1.2rem;

    padding: 8px;
    min-width: 40px;
    white-space: nowrap;
}

td {
    background-color: rgb(109, 107, 75);
}

th {
    font-weight: 600;
    text-align: center;
}

.nibbles {
    background-color: rgb(109, 75, 75);
}

.low-bits {
    background-color: rgb(75, 109, 77);
}

.high-bits {
    background-color: rgb(75, 87, 109);
}

#nibble-corner {
    background-color: rgb(52, 57, 70);
}

.attributions {
    font-family: 'Montserrat';
    font-size: 1.2rem;
}

.attributions a:link,
.attributions a:visited {
    color: rgb(98, 119, 173);
}