body, html {
    width: 100%;
    height: 100%;
    font-size: 10px;
}

body {
    background-color: rgb(35, 39, 46);
    color: rgb(215, 218, 224);

    display: flex;
}

h1 {
    font-size: 2.3em;
    font-weight: 600;
    margin-top: 5rem;
    border-bottom: 2px solid rgb(221, 162, 84);
}

p {
    font-family: 'Montserrat';
    font-size: 1.4rem;
    margin: 2rem 0;
}

a:link,
a:visited {
    color: rgb(221, 162, 84);
}

#sidebar {
    padding: 20px;
    float: left;
    width: 20%;

    background-color: rgb(44, 49, 60);
}

#sidebar > h1 {
    font-size: 2.4rem;
    margin: 0;
    border: none;
}

#content {
    flex: 1 1 auto;
    padding: 2.6rem;
}