#content {
    flex: 1 1 auto;
    padding: 2.6rem;
}

#search {
    background-color: rgb(35, 39, 46);
    color: rgb(215, 218, 224);
    border: none;

    padding: 0.6rem;
    margin-bottom: 2rem;

    font-family: 'Montserrat';
    resize: none;
}

.icon::before {
    min-width: 1.6rem;
    height: 1.6rem;
    margin: auto 0;
    margin-right: 0.6rem;
}

.icon.sh::before {
    content: url("/images/shared.svg");
}

.icon.sv::before {
    content: url("/images/server.svg");
}

.icon.cl::before {
    content: url("/images/client.svg");
}